<div>
  <h1>Performance Issues</h1>
  <h3>Currently selected filter: {{ currentFilter$ | async }}</h3>
  <div>
    <button (click)="changeFilter('UNEDITED')">UNEDITED</button>
    <button (click)="changeFilter('ACCEPTED')">ACCEPTED</button>
    <button (click)="changeFilter('DECLINED')">DECLINED</button>
  </div>
  <div>
    <button (click)="showControls = !showControls">Toggle Controls</button>
  </div>
  <app-list
    [report]="categories$ | async"
    [currentFilter]="currentFilter$ | async"
    [showControls]="showControls"
  ></app-list>
</div>
